{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static STATIC_URL %}prism.css">
<link rel="stylesheet" href="{% static STATIC_URL %}mdedit.css">

<script src="{% static STATIC_URL %}prism-all.js"></script>
<script src="{% static STATIC_URL %}mdedit.js"></script>
<script src="http://vast-engineering.github.io/jquery-popup-overlay/jquery.popupoverlay.js"></script>
{% endblock %}

{% block content %}
<h1>{{ page_title|title }} - {% if page %}Rediger <a href="#" class="delete-popup_open button">Slett</a>{% else %}Opprett{% endif %}</h1>
<a href="{% url 'view_page' slug %}">&#8592; Tilbake</a>
<br />
<br />
<pre id="content" name="content">{{ page.content }}</pre>
<form method="post" id="edit-form" action="{% url 'save_page' slug %}">
  {% csrf_token %}
  <input class="button" type="submit" value="Lagre" />
</form>
<a href="{% url 'view_page' slug %}" class="button">Avbryt</a>

<div id="delete-popup">
  <p>Er du sikker på at du vil slette '{{ page.title }}'?</p>
  <br />
  <a href="#" class="delete-popup_close button">Nei</a>
  <form action="{% url 'delete_page' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="slug" value="{{ page.slug }}" />
    <input type="submit" class="button" value="Ja" />
  </form>
</div>

<script>
  $(document).ready(function() {

    $('#delete-popup').popup();

    var editor = mdEdit(document.querySelector("pre#content"), {});

    $("#edit-form").submit( function(eventObj) {
        $('<input />').attr('type', 'hidden')
          .attr('name', "content")
          .attr('value', editor.getValue())
          .appendTo(this);
        return true;
      });
  });
</script>
{% endblock %}